Source: tibackuplib
Section: admin
Priority: optional
Maintainer: Rene Hadler <rene@iksdeh.at>
Build-Depends: debhelper (>= 8.0.0)

Package: tibackuplib
Architecture: amd64
Depends: ${shlibs:Depends}, rsync, cryptsetup
Conflicts:
Replaces:
Provides: tibackuplib
Description: Main library for tibackup program
